<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- הרשאה לשימוש ברטט -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- הרשאה לגישה לאינטרנט אם נדרשת למפות -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- הרשאה לגישה למיקום עבור מפות -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:label="Space Dash"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceDash">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCfTEkOtimN8KmjZZr0Z8xHREST_-do75c" />


        <!-- תפריט ראשי -->
        <activity android:name=".MenuActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- מסך המשחק -->
        <activity android:name=".MainActivity" android:exported="true" />

        <!-- מסך התוצאות הגבוהות -->
        <activity android:name=".HighscoresActivity" android:exported="true" />

    </application>
</manifest>
